<a href="https://colab.research.google.com/github/NCcreate/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
#入力用
import random

list = []
list = [random.randrange(10,2800,10) for i in range (5)]
for i in range(5):
  list[i] = list[i] + 2220000
  list[i] = 'b' +str(list[i])
print(list)

['b2220170', 'b2220680', 'b2221860', 'b2220480', 'b2221570']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [ ]:
# 入力用
import random
list1 = []
while(len(list1)<5):
  n = random.randrange(1,9)
  if not n in list1:
    list1.append(n)
print(list1)
list2 = []
while(len(list2)<5):
  n = random.randrange(1,9)
  if not n in list1:
    list2.append(n)
print(list2)
list3 = []
for i in range(5):
  sum = list1[i] + list2[i]
  list3.append(sum)
print(list3)

[4, 6, 3, 8, 2]
[7, 5, 7, 7, 5]
[11, 11, 10, 15, 7]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [ ]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [ ]:
# 入力用
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]
n = 4
for i in range(0,47,4):
  random.shuffle(todohuken_list)
  print(todohuken_list[i:i+n])

['広島県', '鹿児島県', '三重県', '栃木県']
['長野県', '大阪府', '滋賀県', '沖縄県']
['山梨県', '栃木県', '秋田県', '山口県']
['大分県', '宮城県', '石川県', '三重県']
['岩手県', '秋田県', '青森県', '愛媛県']
['宮城県', '大分県', '山口県', '福井県']
['熊本県', '静岡県', '鹿児島県', '徳島県']
['神奈川県', '福井県', '大分県', '三重県']
['神奈川県', '岩手県', '宮崎県', '青森県']
['千葉県', '富山県', '岐阜県', '静岡県']
['岐阜県', '宮城県', '北海道', '福島県']
['福岡県', '沖縄県', '青森県']

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [5]:
# 入力用
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
print(university_list)
dict = {"Chitose,25":25,"Hokudai,105":105,"Muroran,74":74,"Hakodate,23":23,}
y = sorted(dict.items(),key = lambda x:x[1])
age_list = []
for i in range(4):
  z = y[i][0]
  age_list.append(z)
print(age_list)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
[('Hakodate,23', 23), ('Chitose,25', 25), ('Muroran,74', 74), ('Hokudai,105', 105)]
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [ ]:
# 入力用
import random
N = 100
list = []
for i in range(1,N+1):
  print(i)
  if(i%3 == 0 and i%5 ==0):
    print('FizzBuzz')
    list.append('FizzBuzz')
  elif(i%3 == 0):
    print('Fizz')
    list.append('Fizz')
  elif(i%5 == 0):
    print('Buzz')
    list.append('Buzz')
  else:
    print('others')
    list.append('others')
print(list)
print('Fizzの数は',list.count('Fizz'))
print('Buzzの数は',list.count('Buzz'))
print('FizzBuzzの数は',list.count('FizzBuzz'))
print('othersの数は',list.count('others'))

1
others
2
others
3
Fizz
4
others
5
Buzz
6
Fizz
7
others
8
others
9
Fizz
10
Buzz
11
others
12
Fizz
13
others
14
others
15
FizzBuzz
16
others
17
others
18
Fizz
19
others
20
Buzz
21
Fizz
22
others
23
others
24
Fizz
25
Buzz
26
others
27
Fizz
28
others
29
others
30
FizzBuzz
31
others
32
others
33
Fizz
34
others
35
Buzz
36
Fizz
37
others
38
others
39
Fizz
40
Buzz
41
others
42
Fizz
43
others
44
others
45
FizzBuzz
46
others
47
others
48
Fizz
49
others
50
Buzz
51
Fizz
52
others
53
others
54
Fizz
55
Buzz
56
others
57
Fizz
58
others
59
others
60
FizzBuzz
61
others
62
others
63
Fizz
64
others
65
Buzz
66
Fizz
67
others
68
others
69
Fizz
70
Buzz
71
others
72
Fizz
73
others
74
others
75
FizzBuzz
76
others
77
others
78
Fizz
79
others
80
Buzz
81
Fizz
82
others
83
others
84
Fizz
85
Buzz
86
others
87
Fizz
88
others
89
others
90
FizzBuzz
91
others
92
others
93
Fizz
94
others
95
Buzz
96
Fizz
97
others
98
others
99
Fizz
100
Buzz
['others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz', 'others', 'Fizz', 'others', 'others', 'FizzBuzz', 'others', 'others', 'Fizz', 'others', 'Buzz', 'Fizz', 'others', 'others', 'Fizz', 'Buzz']
Fizzの数は 27
Buzzの数は 14
FizzBuzzの数は 6
othersの数は 53